body,div,table,thead,tbody,tfoot,tr,th,td,p
	{
	font-family:"Liberation Sans"; font-size:x-small;
	background-color: black;
	background-image:url(img/fond.jpg);	
	}
	
a.comment-indicator:hover + comment
{
	background:#ffd; position:absolute; display:block; border:1px solid black; padding:0.5em;
} 
a.comment-indicator 
{
	background:red; display:inline-block; border:1px solid black; width:0.5em; height:0.5em;
} 
comment
{
	display:none;  
}
table
{
	margin-left: -200px; /* - moitié de la largeur */
    position: absolute;
    left: 50%;
	border-colllapse: collapse;
}
header
{
	margin-left: auto;
	margin-right: auto;
}
.titre_principal
{
	margin-left: auto;
	margin-right: auto;
}
.pacentre{
display:block;
width:auto;
margin-left:auto;
margin-right:auto;
}